{% extends "base.html.twig" %}

{% block header %}
  <header class="header">
    <p class="back"><a href="{{ path('gemeenteamsterdam_rembrandtplein_app_melder_index') }}">Meld overlast Rembrandtplein</a></p>
  </header>
{% endblock %}

{% block body %}

  <section>
    <h1>Cookies vereist</h1>
    <p>Helaas, cookies zijn (op dit moment) vereist voor het gebruik van deze website.</p>
    <p>Zet cookies aan in uw browser en <a href="{{ path('gemeenteamsterdam_rembrandtplein_app_melder_index') }}">probeer het opnieuw</a>.</p>
  </section>

{% endblock %}