/app/config/parameters.yml
/bin/
/build/
/composer.phar
/vendor/
/web/bundles/
/app/bootstrap.php.cache
/app/cache/*
!app/cache/.gitkeep
/app/logs/*
!app/logs/.gitkeep
/app/phpunit.xml
/.buildpath
/.project
/.settings/
/web/assets/scss/.sass-cache/
/update.sh
.idea